* {
  box-sizing: border-box;
  margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'SF Pro Text', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    background: #fff;
}

h1, h2, h3 {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 600;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #1991ff;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1rem 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    z-index: 1;
    outline: none;
    grid-area: select;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 6.5rem;
    position: relative;
}

.content-inner {
    padding: 8rem 0;
}

.btn {
    display: inline-block;
    padding: 1.1rem 3rem;
    border-radius: 2px;
    border: solid 2px #ffffff;
    text-decoration: none;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.btn.dark {
    text-transform: uppercase;
    border-color: #009762;
    background-color: #04d189;
    letter-spacing: 0.16px;
    color: #212b36;
    font-size: 1.4rem;
    font-weight: 600;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.3rem;
    position: relative;
}

.header__logo {
    padding: 2.8rem 0;
}


.bg-hero {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    min-height: 800px;  
    background: url('./img/hero.jpg') no-repeat;
    background-position: bottom right;
    background-size: 1292px 827px;
}

@media /* only for retina displays */
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .bg-hero {
        background-image: url('./img/hero@2x.jpg');
    }
}

.bg-hero::after {
    content: '';
    display: block;
    height: 100%;
    background-image: linear-gradient(123deg, #000000 1%, rgba(0, 0, 0, 0.7) 43%, rgba(0, 0, 0, 0.55) 67%, rgba(0, 0, 0, 0.33) 100%), linear-gradient(123deg, rgba(4, 12, 72, 0.8) 1%, rgba(2, 61, 126, 0.77) 45%, rgba(0, 88, 156, 0.34) 62%, rgba(4, 209, 137, 0.85) 100%);
}

.stage {
    height: 100vh;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.spotlight {
    color: #fff;
    padding-top: 4rem;
}

.spotlight__title {
    font-size: 7.2rem;
    line-height: 1.24;
}

.spotlight__title > strong {
    color: #04d189;
}

.spotlight__text {
    margin: 3rem 0 0;
    font-size: 2.4rem;
}

.spotlight > .btn {
    margin-top: 3rem;
}

.stage .terms {
    color: #fff;
    line-height: 1.5;
    margin: 2.4rem 0 3.2rem;
    font-weight: normal;
}

.stage .trustpilot-score {
    margin-top: 4rem;
}



.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps {
    background: #fbfbfb;
}

.steps__title {
    font-size: 2.8rem;
    line-height: 1.14;
}

.steps__items {
    margin: 3.6rem 0 3.2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    /* counter-reset: bonus; */
}

.steps__items-item {
    /* counter-increment: bonus; */
    width: 26rem;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 1.21;
    text-align: center;
    color: #637381;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}

.steps__items-item::before {
    /* content: "0" counter(bonus);
    font-size: 7.5rem;
    font-weight: 700;
    color: #63738120; */
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    width: 130px;
    height: 80px;
    margin-bottom: 2.5rem;
}

.steps__items-item.open::before {
    background-image: url('./img/bonus/1.svg');
}

.steps__items-item.deposit::before {
    background-image: url('./img/bonus/2.svg');
}

.steps__items-item.contact::before {
    background-image: url('./img/bonus/3.svg');
}

.steps__items-item.trade::before {
    background-image: url('./img/bonus/4.svg');
}

.points {

}

.points__title {
    font-size: 2.8rem;
    line-height: 1.14;   
    margin-top: 1.6rem; 
}

.points__group {
    margin-top: .4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    color: #212b36;
}

.points__article {
    padding-top: 6rem;
}

.points__article:not(:last-child) {
    padding-right: 2rem;
}

.points__article-title {
    font-family: 'SF Pro Text', sans-serif;
    margin-bottom: 1.4rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
}

.points__article-description {
    margin-bottom: 1.8rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.43;
}

.points__list-item {
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.43;
    color: #637381;
}

.points__list-item::before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    margin-right: 1.6rem;
}

.points__list-item.spreads::before {
    background-image: url('./img/icons/spreads.svg');
}

.points__list-item.commission::before {
    background-image: url('./img/icons/spreads.svg');
}

.points__list-item.markets::before {
    background-image: url('./img/icons/spreads.svg');
}

.points__list-item.vps::before {
    background-image: url('./img/icons/vps.svg');
    position: relative;
    left: -2px;
}

.points__list-item.support::before {
    background-image: url('./img/icons/support.svg');
}

.points__list-item.education::before {
    background-image: url('./img/icons/education.svg');
}

.points__list-item.tools::before {
    background-image: url('./img/icons/tools.svg');
}

.points__list-item.trusted::before {
    background-image: url('./img/icons/trusted.svg');
}

.points__list-item.multilingual::before {
    background-image: url('./img/icons/multilingual.svg');
}

.apply {
    padding: 9.6rem 0;
    background: linear-gradient(124deg, #040c48 1%, #00589c 51%, #04d189 100%);
}

.apply__title {
    color: #fff;
    font-size: 3.2rem;
    line-height: 1.25;
    text-align: center;
}

.apply__form {
    max-width: 400px;
    margin: 6.4rem 0 9.7rem;
    padding: 3.1rem 1.6rem 2.2rem;
    border-radius: 3px;
    box-shadow: 0 0 48px 8px rgba(13, 37, 62, 0.1);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.apply__form-label, .apply__form-input {
    font-size: 1.4rem;
    line-height: 1.43;
}

.apply__form-label {
  margin-bottom: .5rem;
}

.apply__form-input {
    border-radius: 3px;
    box-shadow: inset 0 1px 2px 0 rgba(102, 113, 123, 0.21), inset 0 0 0 1px rgba(102, 113, 123, 0.25);
    border: solid 1px #c4cdd5;
    background-color: #ffffff;
    padding: .7rem 1.33rem .9rem;
    margin-bottom: 1.6rem;
}

.apply__form-input:hover {
    outline-color: #686868;
}

.apply__form-input:focus {
    outline-color: #02a169;
}

.apply__form-status {
    display: flex;
    justify-content: space-between;
}

.apply__form-radio {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-top: .3rem;
    margin-bottom: 1.2rem;
    margin-right: .8rem;
    font-size: 1.4rem;
    line-height: 1.43;
    color: #686868;
    cursor: pointer;
    user-select: none;
}

.apply__form-radio:last-child {
    margin-right: 0;
}

.apply__form-radio > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.apply__form-radio > .checkmark {
    position: relative;
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    border: solid 2px #e0e0e0;
    border-radius: 50%;
    margin-right: .8rem;
}

.apply__form-radio > .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #fff;
}

.apply__form-radio > input:checked ~ .checkmark:after {
    display: block;
    background-color: #04d189;
}

.apply__form-checkbox {
    display: block;
    position: relative;
    margin: 3rem 0 2.4rem;
    padding-left: 2.2rem;
    cursor: pointer;
    user-select: none;
    font-size: 1.4rem;
    line-height: 1.29;
    color: #212b36;
}

.apply__form-checkbox > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.apply__form-checkbox > .checkmark {
    position: absolute;
    top: .1rem;
    left: 0;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
    border: solid 1px #c4cdd5;
    background-image: linear-gradient(to bottom, #ffffff, #f9fafb);
}
  
.apply__form-checkbox > .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 50%;
    top: -1px;
    width: .5rem;
    height: 1rem;
    border: solid #04d189;
    border-width: 0 3px 3px 0;
    transform: translate(-50%) rotate(45deg);
}

.apply__form-checkbox > input:checked ~ .checkmark:after {
    display: block;
}

.apply__form-phone {
    display: flex;
    font-size: 1.4rem;
    line-height: 1.43;
    color: #212b36;
    position: relative;
    margin-bottom: 1.6rem;
}
.apply__form-phone .apply__form-input {
    width: 100%;
    margin-bottom: 0;
}

.apply__form-phone > .select {
    display: flex;
    align-items: center;
    position: absolute; 
    top: 0;
    bottom: 0;
    right: 0;
    width: 6.2rem;
    border: 1px solid #c4cdd5;
    border-radius: 3px;
    cursor: pointer;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.apply__form-phone select {
    height: 100%;
    padding: .7rem .8rem .8rem 1.6rem;
}

.apply__form-phone > .select::after {
    content: "";
    position: absolute;
    right: 0.8rem;
    width: 1.1rem;
    height: 0.6rem;
    background-color: #686868;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }

.apply__form-phone::after {
    grid-area: select;
}
  
select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid #02a169;
    box-shadow: inset 0 1px 2px 0 rgba(102, 113, 123, 0.21), inset 0 0 0 1px rgba(102, 113, 123, 0.25);
    border-radius: inherit;
}

.apply__form .btn {
    font-weight: 500;
}

.footer {
    background: #01062d;
    color: #fff;
    line-height: 1.67;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.footer__text {
    margin-top: 1.6rem;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__copyright {
    text-indent: -1rem;
    padding-right: 3rem;
}

.footer__links {
    display: flex;
    flex-wrap: wrap;
}

.footer__link-item {

}

.footer__link-item > a {
    text-decoration: none;
    color: #fff;
}

.footer__link-item > a:hover {
    text-decoration: underline;
    color: #1991ff;
}

.footer__link-item:not(:last-child):after {
    content: '|';
    padding: 0 .5rem;
}

@media (max-width: 767px) {
    .container {
        max-width: unset;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .content-inner {
        padding: 4rem 0;
    }

    .bg-hero::after {
        background-image: linear-gradient(123deg, rgba(0, 0, 0, 0.55) 1%, rgb(0 0 0 / 32%) 43%, rgba(0, 0, 0, 0.55) 67%, rgba(0, 0, 0, 0.33) 100%), linear-gradient(123deg, rgba(4, 12, 72, 0.8) 1%, rgba(2, 61, 126, 0.77) 45%, rgba(0, 88, 156, 0.34) 62%, rgba(4, 209, 137, 0.85) 100%);
    }
    
    .spotlight__title {
        font-size: 4rem;
    }

    .apply {
        padding-top: 5rem;
        padding-bottom: 0;
    }

    .footer__content {
        flex-direction: column;
    }

    .footer__links {
        margin-top: 1.6rem;
        flex-direction: column;
    }

    .footer__link-item::after {
        display: none;
    }
}
